DEBUG=True
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgres://user:password@localhost:5432/cardvault
REDIS_URL=redis://localhost:6379/0
JUSTTCG_API_KEY=tcg_967ad6323ef340a1be1f4707a726414f
ALLOWED_HOSTS=localhost,127.0.0.1
